<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Bootstrap-ecommerce by Vosidiy">
	<title>PharmaStore POS</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BaseProjectMvc_Net8.styles.css" asp-append-version="true" />
	<link rel="shortcut icon" type="image/x-icon" href="~/images/logos/squanchy.jpg">
	<link rel="apple-touch-icon" sizes="180x180" href="~/images/logos/squanchy.jpg">
	<link rel="icon" type="image/png" sizes="32x32" href="~/images/logos/squanchy.jpg">
	<!-- jQuery -->
	<!-- Bootstrap4 files-->
	<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="~/css/ui.css" rel="stylesheet" type="text/css" />
	<link href="~/fonts/fontawesome/css/fontawesome-all.min.css" type="text/css" rel="stylesheet">
	<link href="~/css/OverlayScrollbars.css" type="text/css" rel="stylesheet" />
	<!-- Font awesome 5 -->
	<style>
		.avatar {
			vertical-align: middle;
			width: 35px;
			height: 35px;
			border-radius: 50%;
		}

		.bg-default, .btn-default {
			background-color: #f2f3f8;
		}

		.btn-error {
			color: #ef5f5f;
		}
	</style>
	<!-- custom style -->
</head>
<body>
	<section class="header-main">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-3">
					<div class="brand-wrap">
						<img class="logo" src="~/images/logos/squanchy.jpg">
						<h2 class="logo-text">PharmaStore</h2>
					</div> <!-- brand-wrap.// -->
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="widgets-wrap d-flex justify-content-end">
						<div class="widget-header">
							<a href="#" class="icontext">
								<a href="@Url.Action("Index", "Home")" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
									<i class="fa fa-home"></i>
								</a>
								<a href="@Url.Action("Index", "Inventory")" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only">
									<i class="fa fa-clipboard-check"></i>
								</a>
							</a>
						</div> <!-- widget .// -->

						<partial name="_LoginPartial" />

					</div>	<!-- widgets-wrap.// -->
				</div> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- container.// -->
	</section>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - BaseProjectMvc_Net8 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<!-- ========================= SECTION CONTENT END// ========================= -->
	<script src="~/js/jquery-2.0.0.min.js" type="text/javascript"></script>
	<script src="~/js/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script src="~/js/OverlayScrollbars.js" type="text/javascript"></script>
	<script>
		$(function () {
			//The passed argument has to be at least a empty object or a object with your desired options
			//$("body").overlayScrollbars({ });
			$("#items").height(552);
			$("#items").overlayScrollbars({
				overflowBehavior: {
					x: "hidden",
					y: "scroll"
				}
			});
			$("#cart").height(445);
			$("#cart").overlayScrollbars({});
		});
	</script>
</body>
</html>

